body {
	text-align: center;
}

.skills img {
	width: 100px;
}

header img {
	width: 250px;
}

nav li {
	display: inline-block;
}



.body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.skillswrapper {
	display: flex;
}

h1 {
	font-size: 30px;
}

p {
	font-size: 10px;
}

h2 {
	font-size: 20px;
}